.card {
  width: 15rem;
  margin: 30px auto 65px auto; /* 100px de marge en haut pour laisser de la place au header, 50px de marge en bas pour l'espace avec le footer */
}
.card-img-top {
  height: 200px; /* Ajuste la hauteur */
  object-fit: cover;
}
.card-custom {
  width: 18rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-group {
  margin-top: auto;
}
