.custom-card {
  height: 450px; /* Hauteur fixe pour les cartes */
}
.custom-img {
  height: 300px; /* Hauteur fixe pour les images */
  object-fit: cover; /* Pour conserver les proportions de l'image */
}
.card-title,
.card-text {
  overflow: hidden; /* Masque le texte excédentaire */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limite à 3 lignes pour WebKit */
  line-clamp: 3; /* Propriété standard (pas encore totalement supportée) */
  max-height: 4.5em; /* Ajuste la hauteur pour 3 lignes */
}
